<div>
    <img class="img" src="assets/images/forgot.png">
    <h3 class="text">olvido contraseña</h3>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input  matInput type="email" [formControl]="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Porfavor ingrese un correo valido
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            El campo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <div class="button">
        <button (click)="Recuperar()" id="login" mat-raised-button color="primary">recuperar</button>
        <img class="gif" src="assets/gifs/loading.gif" *ngIf="disable">
       </div>
      <form class="form">
        <mat-form-field id="code">
          <mat-label>Codigo enviado</mat-label>
          <input matInput [formControl]="code">
          <mat-error *ngIf="code.hasError('required')">
            El campo es <strong>requerido</strong>
        </mat-error>
        </mat-form-field>
      
        <table class="table" cellspacing="0">
        <tr>
            <td>
              <mat-form-field class="example-complite-width">
                <mat-label>Password</mat-label>
                <input matInput type="password"matInput [formControl]="password">
                <mat-error *ngIf="password.hasError('required')&&!password.hasError('pattern')">
                    El campo es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="password.hasError('pattern')">
                    la contraseña debe contener mayusuculas, minusculas, numeros, minimo 8 caracteres
                </mat-error>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-complite-width">
            <mat-label>Confirm password</mat-label>
            <input type="password"matInput [formControl]="newPassword" placeholder="Same Password">
            <mat-error *ngIf="newPassword.hasError('required') && verifyPassword()">
                El campo es <strong>requerido</strong>
            </mat-error>
            <mat-hint *ngIf="verifyPassword()">
                Las contraseñas no son las mismas
            </mat-hint>
        </mat-form-field>
            </td>
        </tr>
        </table>
      </form>
      <div class="button-footer">
        <button (click)="Cambiar()" id="login" mat-raised-button color="primary">cambiar contraseña</button>
      </div>
</div>
<div class="div-footer">
    <footer class="footer">
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</div>
