
.img{
    width: 15%;
    height: 20%;
    margin-left: 42%;
    margin-top: 5px;
}
.text{
    width: 20%;
    height: 25%;
    margin-left: 41%;
    margin-top: 10px;
    color: #1E9EF4;
}
.footer {
    position:fixed;
    bottom: 0px;
    width:100%;
}
#iniciar{
    margin-left: 10%;
}
.button{
    margin-left: 47%;
    margin-top: 5px;
}
.example-full-width{
    margin-left: 40%;
    margin-top: 2%;
    width: 20%;
}
#forgot{
    margin-left: 5%;
}
.input{
    width: 100%;
}
.button-footer{
    margin-left: 45%;
    margin-top: 5px;
}
.example-complite-width{
    width: 100%;
}
.table{
    margin-left: 35%;
    width: 25%;
}
#code{
    margin-left: 40%;
    margin-top: 5px;
    width: 20%;
}
.gif{
    width: 50px;
    height: 50px;
}