<div>
    <mat-toolbar color="primary">
      <button (click)="irHome()" mat-icon-button>
        <mat-icon  class="mat-icon">home</mat-icon>
      </button>
        <span class="mat-icon" id="welcome">Bienvenido: {{name}}</span>
        <span class="example-spacer"></span>
        <button (click)="irCarrito()" mat-icon-button>
          <mat-icon  class="mat-icon" matBadge={{count}} matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button class="mat-icon" id="menu"mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
            <button (click)="irOrdenes()" mat-menu-item>
              <mat-icon class="mat-icon">description</mat-icon>
              <span>Ordenes</span>
            </button>
            <button (click)="irPassword()" mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Cambiar contraseña</span>
            </button>
            <button (click)="salir()"mat-menu-item>
              <mat-icon class="mat-icon">navigate_before</mat-icon>
              <span>salir</span>
            </button>
          </mat-menu>
    </mat-toolbar>      
</div>
<div class="mat-elevation-z8">
    <mat-form-field class="filter">
        <mat-label>Busca que nosotros lo tenemos</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Teclado" #input>
      </mat-form-field>
    <table mat-table [dataSource]="dataSource">
  
        <!-- Position Column -->
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="name" style="margin: 100px;">
        <th mat-header-cell *matHeaderCellDef style="margin-left: 100px;"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="basePrice">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.basePrice.toFixed(2)}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="inventoryQuantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad disponible </th>
        <td mat-cell *matCellDef="let element" > {{element.inventoryQuantity}} </td>
      </ng-container>
  
       <!-- Weight Column -->
       <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef> Detalles </th>
        <td mat-cell *matCellDef="let element"><button (click)="seleccionarProduct(element)" mat-button color="primary">Detalles</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

  