<div>
    <mat-toolbar color="primary">
        <button (click)="irHome()" mat-icon-button>
            <mat-icon  class="mat-icon">home</mat-icon>
          </button>
        <span class="mat-icon" id="welcome">{{name}}, si quieres cambiar la contraseña que sea una segura para evitarnos problemas ;)</span>
        <span class="example-spacer"></span>
        <button (click)="irCarrito()" mat-icon-button>
          <mat-icon  class="mat-icon" matBadge={{count}} matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button class="mat-icon" id="menu"mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
            <button (click)="irOrdenes()" mat-menu-item>
                <mat-icon class="mat-icon">description</mat-icon>
                <span>Ordenes</span>
              </button>
            <button (click)="irPassword()" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Cambiar contraseña</span>
            </button>
            <button (click)="salir()"mat-menu-item>
              <mat-icon class="mat-icon">navigate_before</mat-icon>
              <span>salir</span>
            </button>
          </mat-menu>
    </mat-toolbar>      
</div>
<div class="mat-elevation-z8">
    <div class="img">
        <img  src="assets/images/password.png">
    </div>
    
    <form class="example-form">
        
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
                <input type="password"matInput [formControl]="password" placeholder="Password">
            <mat-error *ngIf="password.hasError('required')&&!password.hasError('pattern')">
                El campo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="password.hasError('pattern')">
                la contraseña debe contener mayusuculas, minusculas, numeros, minimo 8 caracteres
            </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
            <mat-label>Confirm password</mat-label>
            <input type="password"matInput [formControl]="newPassword" placeholder="Same Password">
            <mat-error *ngIf="newPassword.hasError('required') && verifyPassword()">
                El campo es <strong>requerido</strong>
            </mat-error>
            <mat-hint *ngIf="verifyPassword()">
                Las contraseñas no son las mismas
            </mat-hint>
        </mat-form-field>
    </form>
    <div class="button">
        <button (click)="cambiar()" mat-raised-button color="warn">Cambiar</button>
    </div>
</div>
<footer class="footer">
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>