.example-spacer {
    flex: 1 1 auto;
  }
#menu{
  margin-left: 20px;
}
.mat-cell {
  padding: 8px 20px 20px 0;
}
.footer {
    position:fixed;
    bottom: 0px;
    width:100%;
}
.mat-elevation-z8{
  margin: 20px 20% 0 20%;
  padding-left: 10%;
  padding-right: 10%;
}
.example-full-width{
    /*margin-left: 35%;
    margin-top: 2%;*/
    
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img{
    margin-left: 35%;
    margin-top: 10px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button{
    /* margin-left: 40%; */
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}